/* Reset some default styles */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Set up container styles */
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;

}

/* Set up box styles */
.box {
 /* width: 400px; */
 width: auto;
 height: auto;
 position: relative;
 background-color: #f5f5f5;
 padding: 90px 40px 40px 40px;
 border-radius: 10px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Set up display styles */
.display {
 margin-bottom: 15px;
}

.display input[type="text"] {
 width: 100%;
 height: 60px;
 padding: 5px;
 font-size: 18px;
 text-align: right;
 border: 1px solid #ccc;
 border-radius: 5px;
}

/* Set up keys styles */
.keys p {
 margin-bottom: 10px;
}

.keys input[type="button"] {
 width: 52px;
 height: 53px;
 margin: 2px;
 font-size: 18px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.keys .button.grey {
 background-color: #e0e0e0;
 color: #333;
}

.keys .button.grey:hover{
 background-color: #aeabab;
}

.button.red{
 color: #fff;
 background-color: rgb(168, 38, 38);
}

.button.red:hover{
 background-color: rgb(173, 63, 63);
}

.keys .button.black {
 background-color: #333;
 color: #fff;
}

.keys .button.black:hover{
 background: #717171;
}

#btn-expNo{
 border-style: none;
 width: 52px;
 height: 53px;
 margin: 2px;
 font-size: 18px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.keys .button.green {
 background-color: #4caf50;
 color: #fff;
}

.keys .button.green:hover{
 background-color: #63a865;
}


/* Center align the keys */
.keys.center {
 display: flex;
 justify-content: center;
}


/* CSS for 3 dots */
span {
 content: "\22EE";
 cursor: pointer;
}


/* placing 3 dots in upper right corner */
.dropdown{
 position: relative;
 display: inline-block;
}

span{
 position: absolute;
 top: -70px;
 left: 310px;
 font-size: 30px;
}

/* CSS for viewing more option */
.dropdown{
 position: absolute;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding-left: 18px ;
 padding-bottom: 12px;
 text-decoration: none;
 display: block;
}

.dropdown-content{
 left: 190px;
 top: -43px;
}

.dropdown-content a Standard{
 padding-top: 6px;
}

.dropdown:hover .dropdown-content {
 display: block;
}


/* css foe exponent notaion */





/* Navigation Bar */
/* Navigation Bar */
#navbar {
 cursor: pointer;
}

#homePage img {
 width: 30px;
 position: absolute;
 top: 13px;
 left: 80px;
}

#page_2 img {
 width: 24px;
 position: absolute;
 top: 16px;
 left: 165px;
}